body {
  background: #222;
  height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: center;
}

.container-item {
    min-height: 100px;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    border: solid 1px #000;
} 

.resulinks {
  margin-top: 25px; 
}
.resulinks .soc {
    display: block;
    font-size: 0;
    list-style: none;
}

.resulinks .soc li {
  display: inline-block; 
}

.resulinks .soc a, .resulinks .soc svg {
  display: block; 
}

.resulinks .soc a {
  position: relative;
  color: #9cf7ff;
  fill: #9cf7ff;
  height: 50px;
  width: 50px; }
  .resulinks .soc a svg {
    height: 100%;
    width: 100%; }
  .resulinks .soc a a:hover, .resulinks .soc a svg:hover {
    color: #ccc;
    fill: #ccc; }
.resulinks .soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -.75em;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0; }
