// Colors _____________________________________________________________________
$dark-grey: #3b3b3b;
$sky-blue: #00b2ee;
$black: #000000;
$white: #FFF;
$drop-shadow:rgba(0,0,0,0.75);

// Google Fonts _______________________________________________________________
@import url(https://fonts.googleapis.com/css?family=Lato);

// Variables __________________________________________________________________
$base-font-size: 16px;

$h1-font-size: 60px;
$h2-font-size: 42px;
$h3-font-size: 33px;
$p-font-size: 16px;

$h1-font: 'Lato', Arial, sans-serif;
$h2-font: 'Lato', Arial, sans-serif;
$h3-font: 'Lato' ,Arial, sans-serif;
$p-font: 'Lato', Arial, sans-serif;
$a-font: 'Lato',Verdana, sans-serif;


$primary-color: #eee;
$link-color: #9cf7ff;
$hover-color: #ccc;

$box-shadow: 7px 7px 10px $drop-shadow;

$bottom-nav-space: 20px;

$primary-margin: 10px;

$primary-border-radius: 10px;

